{% extends 'templates/../model-page.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
<!-- Cabeçalho da página -->
  <div class="row justify-content-center jumbotron jumbotron-fluid bg-secondary mt-4 py-4">
    <div class="col-auto">
      <img class="univesp-elos img-fluid rounded mx-auto d-block" src="https://piunivesp.s3.sa-east-1.amazonaws.com/elos_de_amor/media/elos_univesp.png" alt="Univesp e Elos de Amor" width="300px">
    </div>
    <div class="col-md-8 text-white">
      <h2 class="display-5 font-italic">Inscreva-se</h1>
      <p class="lead">Caro vonlutário preencha o campo abaixo para verificar se estamos atendendo sua localidade.</p>
    </div>
  </div><!-- Fim do cabeçalho -->
<!-- Conteúdo Principal -->
  <div class="row justify-content-center mt-0">
    <div class="col-md-8 border-secondy">
      {% include 'templates/../_alerts.html' %}
    </div>
    <div class="col-md-8 border-secondy">
      <form action="{% url 'via_cep' %}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-12 col-lg-12 mx-auto">
            <label>
              <input class="mx-auto" type="text" id="cep" name="cep" placeholder="Digite seu CEP">
            </label>
          </div>
          <div>
            <button class="btn btn-secondary" type="submit">Consulte</button>
          </div>
        </div>
      </form>
    </div><!-- Fim row-->
  </div><!-- Fim do Conteúdo principal -->

</div>

{% endblock %}