asgiref==3.4.1
attrs==21.4.0
boto3==1.24.4
botocore==1.27.4
cached-property==1.5.2
certifi==2021.5.30
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2.5
django-allauth==0.51.0
django-braces==1.15.0
django-cleanup==6.0.0
django-cors-headers==3.13.0
django-crispy-forms==1.13.0
django-filter==21.1
django-heroku==0.3.1
django-localflavor==3.1
django-model-utils==4.2.0
django-municipios==1.2.1
django-richtextfield==1.6.1
django-smart-selects==1.5.9
django-storages==1.12.3
django-utils==0.0.2
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
gunicorn==20.1.0
idna==3.3
isodate==0.6.1
jmespath==1.0.0
lxml==4.9.0
oauthlib==3.2.0
platformdirs==2.5.2
psycopg2==2.8.6
pycep-correios==5.0.0
pycparser==2.21
PyJWT==2.4.0
python-dateutil==2.8.2
python-stdnum==1.17
python3-openid==3.2.0
pytz==2021.1
requests==2.28.0
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.9
whitenoise==6.2.0
zeep==4.1.0
