{% extends 'templates/../model-page.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
<!-- Cabeçalho da página -->
  <div class="row justify-content-center jumbotron jumbotron-fluid bg-secondary mt-4 py-4">
    <div class="col-auto">
      <img class="univesp-kaotinho img-fluid rounded mx-auto d-block" src="https://piunivesp.s3.sa-east-1.amazonaws.com/media/ajuda3.svg" alt="Univesp e Kaotinho" width="90px">
    </div>
    <div class="col-md-8 text-white">
      <h2 class="display-5 font-italic">Como ajudar?</h1>
      <p class="lead">Confira como apoiar nosso projeto.</p>
    </div>
  </div><!-- Fim do cabeçalho -->

<!-- Corpo do site -->
<div class="row justify-content-center mt-0">
  <div class="col-md-8 border-secondy justify-content-start">
    <div class="accordion-item">
      <h4 class="accordion-header" id="flush-heading-ajuda">
        <button class="accordion-button collapsed bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-ajuda" aria-expanded="false" aria-controls="flush-collapse-ajuda">
          Como posso ajudar?
        </button>
      </h4>
      <div id="flush-collapse-ajuda" class="accordion-collapse collapse" aria-labelledby="flush-heading-ajuda" data-bs-parent="#duvida">
        <div class="accordion-body">
          A sua ajuda é muito importante, essencial e necessária, nos necessitamos de braços, transportes, do seu conhecimento, sim do seu conhecimento para nos orientar, coloque a sua experiencia profissional em colaboração conosco e multiplique os talentos que DEUS te deu como está em Mateus 25,29 e multiplique o números de pessoas assistidas,  o que não pode é deixar a sua solidariedade de fora do ELOS DE AMOR.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h4 class="accordion-header" id="flush-heading-dinheiro">
        <button class="accordion-button collapsed bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-dinheiro" aria-expanded="false" aria-controls="flush-collapse-dinheiro">
          Seja nosso parceiro!
        </button>
      </h4>
      <div id="flush-collapse-dinheiro" class="accordion-collapse collapse" aria-labelledby="flush-heading-dinheiro" data-bs-parent="#duvida">
        <div class="accordion-body">
          <p>EMPRESÁRIO seja nosso parceiro contribuindo com equipamentos, transporte, logística, pessoal, participando ativamente conosco e acompanhando todo o processo e transparência e se possível também financeiramente.</p>
          <p>UNIVERSITÁRIO venha conhecer e fazer parte da solidariedade ao próximo e transforme a sua visão do mundo, para um com mais amor.</p>
          <p>DOAÇÃO FINANCEIRA a sua contribuição financeira ajuda a multiplicar as pessoas assistidas, venha fazer parte da nossa família, associando-se como benfeitor desta obra.</p>
          <p>ESPAÇO FISICO necessitamos de um local para a manutenção, guarda, controle e logística para a entrega e recolhimento quando necessário, das doações, visitas, etc.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}