{{% extends 'templates/../model-page.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <!-- Cabeçalho da página -->
      <div class="row justify-content-center jumbotron jumbotron-fluid bg-secondary mt-4 py-4">
        <div class="col-auto">
          <img class="univesp-elos img-fluid rounded mx-auto d-block" src="https://piunivesp.s3.sa-east-1.amazonaws.com/media/ajuda3.svg" alt="Univesp e Elos de Amor" width="90px">
        </div>
        <div class="col-md-8 text-white">
          <h2 class="display-5 font-italic">Nossos contatos</h1>
          <p class="lead">Confira nossos contatos.</p>
        </div>
      </div><!-- Fim do cabeçalho -->
    <!-- Corpo do site -->
    <div class="row justify-content-center mt-0">
        <div class="col-md-8 border-secondy justify-content-start align-middle">
          <p>
            <a href="http://api.whatsapp.com/send?phone=5581988976769" target="_blank">
              <i class="fa fa-whatsapp" style="font-size:48px;"></i> +5581988976769
            </a>
          </p>
          <p>
            <a href="mailto:elosdeamor.rede@gmail.com?subject=Contato: Elos de Amor">
              <i class="material-icons" style="font-size:48px;">email</i> elosdeamor.rede@gmail.com
            </a>
          </p>
        </div>
    </div>
</div>
{% endblock %}