{% extends 'templates/../model-page.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
<!-- Cabeçalho da página -->
  <div class="row justify-content-center jumbotron jumbotron-fluid bg-secondary mt-4 py-4">
    <div class="col-auto">
      <img class="univesp-elos img-fluid rounded mx-auto my-auto d-block" src="https://piunivesp.s3.sa-east-1.amazonaws.com/media/evento2.svg" alt="Logo balões de festa Univesp e Elos de Amor" width="90px">
    </div>
    <div class="col-md-8 text-white">
      <h2 class="display-5 font-italic">Projetos e Eventos</h1>
      <p class="lead">Participe dos Projetos e Eventos!</p>
    </div>
  </div><!-- Fim do cabeçalho -->
<!-- Conteúdo Principal -->
  <div class="row justify-content-center mt-0">
    <div class="col-md-8 border-secondy justify-content-start">
      <!-- Início do Accordion -->
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Próximos Eventos
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {% for evento in eventos %}
              {% if evento.get_evento_recente %}
              <!-- Início do cartão -->
              <div class="card m-3">
                <div class="row g-0">
                  <div class="col-md-2 bg-secondary">
                      <img src="https://piunivesp.s3.sa-east-1.amazonaws.com/media/evento2.svg" class="img-fluid rounded-start mx-auto my-auto" style="vertical-align: middle;" alt="imagem do evento {{ evento.nome_evento }}">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">
                        <span class="text-right">{{ evento.nome_evento }}</span>
                      </h5>
                      <p class="card-text fs-6 text-right">{{ evento.get_data_evento }}, faltam  {{ evento.get_falta }}.</p>
                      <p class="card-text">{{ evento.descricao_evento }}</p>
                      <p class="card-text fs-6">
                        {{ evento.local_evento }}.
                        | <a class="btn btn-secondary" href="https://www.google.com.br/maps/place/{{ evento.local_evento }}" role="button" target="_blank">Como chegar</a>
                      </p>
                      <div>
                      {% if evento.get_parceiros %}
                        {% for parceiro in evento.get_parceiros %}
                          <span class="card-text fs-6">{{ parceiro }} |</span>          
                        {% endfor %}
                      {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Eventos Vencidos
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {% for evento in eventos %}
              {% if evento.get_evento_vencido %} 
              <!-- Início do cartão -->
              <div class="card m-3">
                <div class="row g-0">
                  <div class="col-md-2 bg-secondary my-auto">
                    <img src="https://piunivesp.s3.sa-east-1.amazonaws.com/media/evento2.svg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">
                        <span class="text-right">{{ evento.nome_evento }}</span>
                      </h5>
                      <p class="card-text fs-6 text-right">{{ evento.get_data_evento }}, faltam  {{ evento.get_falta }}.</p>
                      <p class="card-text">{{ evento.descricao_evento }}</p>
                      <p class="card-text fs-6">
                        {{ evento.local_evento }}.
                        | <a class="btn btn-secondary" href="https://www.google.com.br/maps/place/{{ evento.local_evento }}" role="button" target="_blank">Como chegar</a>
                      </p>
                      <div>
                      {% if evento.get_parceiros %}
                        {% for parceiro in evento.get_parceiros %}
                          <span class="card-text fs-6">{{ parceiro }} |</span>          
                        {% endfor %}
                      {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div><!-- Fim do Accordion -->

    </div><!-- Fim row-->
  </div><!-- Fim do Conteúdo principal -->

</div>

{% endblock %}